main {
  width: calc(100% - 200px);
  background-color: silver;
  color: red;
  float: left;
}

aside {
  width: 200px;
  float: right;
  height: 300px;
  background-color: blue;
}

#sign-in {
  background-color: violet;
}

#sign-up {
  background-color: violet;
}

#right-banner-1 {
  background-color: orange;
}

#right-banner-2 {
  background-color: orange;
}

#right-banner-3 {
  background-color: orange;
}

#logo-wrapper {
  color: red;
  background-color:green;
}

#slider {
  background-color: orange;
}

#titulos {
  color: green;
  background-color: yellow;

}
#shoppers {
  color: red;
  background-color: black;
}
