main {
  width: calc(100% - 200px);
  background-color: violet;
  color: red;
  float: left;
}

aside {
  width: 200px;
  float: right;
  height: 300px;
  background-color: blue;
}

img.small {
  width:50px;
  height: 50px.
}

img.medium {
  width: 200px;
  height: 100px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.text-center{
  margin-left: 100px;
}
#sign-in {
  background-color: gray;
}

#sign-up {
  background-color: gray;
}

#right-banner-1 {
  background-color: orange;
}

#right-banner-2 {
  background-color: orange;
}

#right-banner-3 {
  background-color: orange;
}

#logo-wrapper {
  color: red;
  background-color:green;
  width: 100%;
}

#slider {
  background-color: orange;
  width: 100%;
}

#titulos {
  color: green;
  background-color: blue;

}
#shoppers {
  color: red;
  background-color: ;
}

.shopper-box {
  background-color: white;
  border-color: gray;
  padding: 5px;
}
